@import "bootstrap-sprockets";
@import "bootstrap";


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: indianred;
  }
}

#footer_text
{
  color: whitesmoke;
}
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
}

.well.sidebar-nav {
  border-radius:25px;
  list-style: none;
  margin: 0;
  background-color: #CCCCCC;
}